/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 100px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.header {
  max-width: 696px;
  width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 136px 0 0px 0;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.header__title {
  font-family: var(--accent-font, 'fantasy');
  font-size: var(--fz-logo);
  color: var(--accent-color);
}

.header__sub-title {
  font-family: var(--accent-font, 'fantasy');
  font-size: var(--fz-subtitle);
  margin-top: 19px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.theme-menu {
  margin-top: 23px;
  color: var(--accent-color);
  padding-bottom: 19px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: left;
  margin-left: 19px;
}

.theme-menu__button {
  font-family: var(--accent-font, 'fantasy');
  position: relative;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button[disabled]::before {
  content: "▶";
  position: absolute;
  display: inline-block;
  inline-size: 16px;
  block-size: 13px;
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
  left: -15px;
}

/* Стилизация карточек */

.card {
  max-width: 696px;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: var(--main-font, serif);
  margin: 0 auto;
}

.card__heading {
  font-variation-settings: "wght" var(--bold-text, 785);
  color: var(--accent-color);
  font-size: 18px;
  padding: 3px 0px 3px 10px;
  border: 2px solid var(--accent-color);
}

.card__image-box {
  position: relative;
  height: 696px;
  border: 2px solid var(--accent-color);
  border-top: none;
  border-bottom: none;
  /* Задал высоту так как не смог иначе сделать картинку */
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
  font-family: var(--accent-font, 'fantasy');  color: var(--accent-color);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
  1px 0 var(--background-color), 0 -1px var(--background-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid var(--accent-color);
  border-top: none;
  border-bottom: none; */
}

.card__text-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--regular-text, 400);
  margin: 26px 25px 0 25px;
}

.card__button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin: 25px 0 0 0;
  padding-bottom: 25px; 
  border-top: none;
  padding-right: 24px;
}

.card__wrapper-bottom {
border: 2px solid var(--accent-color);
}

/* Кнопки like */
.card__icon-button {
  width: 27px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.button__text {
  color: var(--button-text-color);
  font-family: var(--accent-font, 'fantasy');  transition: 0.5s linear;
  mix-blend-mode: difference;
  line-height: 90%;
}

.button {
  font-family: var(--accent-font, 'fantasy');  width: 130px;
  height: 38px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--background-color);
  background: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 2px solid var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* dialog
======================== */ 
.save-button { 
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 8px; 
  padding-left: 19px; 
  min-width: 340px; 
  min-height: 51px; 
  margin: 0 auto; 
  color: var(--accent-color); 
  background: var(--background-color); 
  margin-bottom: 105px; 
} 
 
.dialog { 
  font-family: var(--accent-font, 'fantasy');  font-size: 14px; 
  padding: 32px 30px; 
  color: var(--accent-color); 
  background: var(--background-color); 
  border: 2px solid var(--accent-color); 
} 
 
.dialog::backdrop { 
  background-color: rgba(0, 0, 0, 0.75); 
} 
 
.dialog:not([open]) { 
  display: none; 
  opacity: 0; 
  pointer-events: none; 
} 
 
.dialog__box { 
  display: flex; 
  flex-direction: column; 
  gap: 27px; 
} 
 
.dialog__text { 
  text-transform: uppercase; 
  line-height: 1.5; 
  max-width: 234px; 
} 
 
.dialog__text-box { 
  display: flex; 
  gap: 22px; 
  align-items: center; 
} 
 
.floppy { 
  width: 21px; 
  height: 21px; 
  mix-blend-mode: difference; 
  color: var(--button-text-color); 
} 
 
.dialog .floppy { 
  width: 39px; 
  height: 39px; 
} 
 
.dialog__close-btn{ 
  width: 100%; 
  text-transform: uppercase; 
}

/* dialog
======================== */


/* Фильтры для картинок */
.grayscale{ 
  filter: grayscale(50%); 
} 
 
.hue-rotate{ 
  filter: hue-rotate(30deg); 
} 
 
.saturate{ 
  filter: saturate(360%); 
} 
 
.invert{ 
  filter: invert(80%); 
} 
 
.sepia{ 
  filter: sepia(80%); 
} 
 
.blur{ 
  filter: blur(20px); 
} 
 
.all-filter{ 
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px); 
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

@media (width <= 376px) {
  .header {
    padding-top: 117px;
  }

  .header__title {
    margin-top: 4px;
  }

  .header__sub-title {
    margin-top: 20px;
  }

  main {
    gap: 50px;
    margin-top: 101px;
  }

  .card__heading {
    padding: 3.5px 0px 3.5px 10px;
  }

  .card__text-box {
    margin-right: 29px;
    margin-top: 29px;
    gap: 27px;
    line-height: 21px;
  }
  
  .card__image-box {
    height: 371px;
  }
  
  .card__image-watermark  {
    top: 25px;
    right: 13px;
  }

  .card__button-container {
    margin-top: 25px;
  }

  .save-button {
    flex-direction: column;
    min-width: 315px;
    min-height: 84px;
    padding-left: 6px;
  }

  .floppy {
    margin-top: 15px;
    width: 28px;
    height: 28px;
  }

  .dialog .floppy {
    margin-top: 0;
  }

  .dialog {
    padding: 32px 21px;
  }
}